# Project exclude paths
/hadoop-assemblies/target/
/hadoop-build-tools/target/
/hadoop-client-modules/hadoop-client/target/
/hadoop-client-modules/hadoop-client-api/target/
/hadoop-client-modules/hadoop-client-check-invariants/target/
/hadoop-client-modules/hadoop-client-check-test-invariants/target/
/hadoop-client-modules/hadoop-client-integration-tests/target/
/hadoop-client-modules/hadoop-client-minicluster/target/
/hadoop-client-modules/hadoop-client-runtime/target/
/hadoop-client-modules/target/
/hadoop-cloud-storage-project/hadoop-cloud-storage/target/
/hadoop-cloud-storage-project/hadoop-cos/target/
/hadoop-cloud-storage-project/hadoop-huaweicloud/target/
/hadoop-cloud-storage-project/target/
/hadoop-common-project/hadoop-annotations/target/
/hadoop-common-project/hadoop-auth/target/
/hadoop-common-project/hadoop-auth-examples/target/
/hadoop-common-project/hadoop-common/target/
/hadoop-common-project/hadoop-kms/target/
/hadoop-common-project/hadoop-minikdc/target/
/hadoop-common-project/hadoop-nfs/target/
/hadoop-common-project/hadoop-registry/target/
/hadoop-common-project/target/
/hadoop-dist/target/
/hadoop-hdfs-project/hadoop-hdfs/target/
/hadoop-hdfs-project/hadoop-hdfs-client/target/
/hadoop-hdfs-project/hadoop-hdfs-httpfs/target/
/hadoop-hdfs-project/hadoop-hdfs-native-client/target/
/hadoop-hdfs-project/hadoop-hdfs-nfs/target/
/hadoop-hdfs-project/hadoop-hdfs-rbf/target/
/hadoop-hdfs-project/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-app/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-common/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-core/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-hs/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-hs-plugins/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-jobclient/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-nativetask/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-shuffle/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-uploader/target/
/hadoop-mapreduce-project/hadoop-mapreduce-client/target/
/hadoop-mapreduce-project/hadoop-mapreduce-examples/target/
/hadoop-mapreduce-project/target/
/hadoop-maven-plugins/target/
/hadoop-minicluster/target/
/hadoop-project/target/
/hadoop-project-dist/target/
/hadoop-tools/hadoop-aliyun/target/
/hadoop-tools/hadoop-archive-logs/target/
/hadoop-tools/hadoop-archives/target/
/hadoop-tools/hadoop-aws/target/
/hadoop-tools/hadoop-azure/target/
/hadoop-tools/hadoop-azure-datalake/target/
/hadoop-tools/hadoop-benchmark/target/
/hadoop-tools/hadoop-datajoin/target/
/hadoop-tools/hadoop-distcp/target/
/hadoop-tools/hadoop-dynamometer/hadoop-dynamometer-blockgen/target/
/hadoop-tools/hadoop-dynamometer/hadoop-dynamometer-dist/target/
/hadoop-tools/hadoop-dynamometer/hadoop-dynamometer-infra/target/
/hadoop-tools/hadoop-dynamometer/hadoop-dynamometer-workload/target/
/hadoop-tools/hadoop-dynamometer/target/
/hadoop-tools/hadoop-extras/target/
/hadoop-tools/hadoop-federation-balance/target/
/hadoop-tools/hadoop-fs2img/target/
/hadoop-tools/hadoop-gridmix/target/
/hadoop-tools/hadoop-kafka/target/
/hadoop-tools/hadoop-openstack/target/
/hadoop-tools/hadoop-pipes/target/
/hadoop-tools/hadoop-resourceestimator/target/
/hadoop-tools/hadoop-rumen/target/
/hadoop-tools/hadoop-sls/target/
/hadoop-tools/hadoop-streaming/target/
/hadoop-tools/hadoop-tools-dist/target/
/hadoop-tools/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-api/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-catalog/hadoop-yarn-applications-catalog-docker/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-catalog/hadoop-yarn-applications-catalog-webapp/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-catalog/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-distributedshell/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-mawo/hadoop-yarn-applications-mawo-core/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-mawo/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-unmanaged-am-launcher/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-services/hadoop-yarn-services-api/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-services/hadoop-yarn-services-core/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-services/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-client/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-common/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-csi/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-registry/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-applicationhistoryservice/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-common/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-globalpolicygenerator/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-nodemanager/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-router/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-sharedcachemanager/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-tests/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timeline-pluginstorage/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-documentstore/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-hbase/hadoop-yarn-server-timelineservice-hbase-client/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-hbase/hadoop-yarn-server-timelineservice-hbase-common/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-hbase/hadoop-yarn-server-timelineservice-hbase-server/hadoop-yarn-server-timelineservice-hbase-server-1/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-hbase/hadoop-yarn-server-timelineservice-hbase-server/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-hbase/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-hbase-tests/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-web-proxy/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-site/target/
/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-ui/target/
/hadoop-yarn-project/hadoop-yarn/target/
/hadoop-yarn-project/target/
/target/